body {
  background-color: #444;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main {
  font-size: 5vmin;
  color: lightblue;
  width: 100vmin;
  height: 100vh;
  max-width: 900px;
  margin: auto;
  background-color: #444;
  background-image: url('./enigma.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.input {
  position: absolute;
  width: 66%;
  height: 30%;
  top: 4%;
  left: 16%;
  border: solid 2px #444;
  border-radius: 3vmin;
  background-color: #ffe;
  font-size: 5vmin;
  color: #222;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: all 1s;
  transform: rotateY(0deg);
  z-index: 2000;
}

.input.flipped {
  transform: rotateY(180deg);
  z-index: 1000;
}

.encKey {
  top: 4%;
  background-color: #cff;
}

.counter {
  position: relative;
  width: 68%;
  top: 38%;
  margin: auto;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  background-color: rgba(255, 255, 255, 0.6);
  color: magenta;
  border-radius: 3vmin;
}

.counter button {
  margin: 2vmin 2vmin;
}

.keyboard {
  position: relative;
  width: 100%;
  top: 42%;
  margin: auto auto;
  text-align: center;
}

button {
  text-align: center;
  font-size: 5vmin;
  color: #fff;
  background-color: #666;
  border: solid 1px #fff;
}

button.key {
  margin: 1px;
  width: 9.2%;
  height: 9vmin;
  text-align: center;
  font-size: 4.4vmin;
  border-radius: 48%;
}

button.space {
  width: 40%;
  height: 9vmin;
}

button.reset {
  color: red;
  background-color: #eee;
}

button.backspace {
  color: blue;
  background-color: #eee;
}

button.encrypt {
  color: blue;
  background-color: #eee;
}

/* .key-dialog {
  position: relative;
  width: 88%;
  height: 20%;
  margin: auto;
  background-color: #eee;
  color: blue;
}

.key-dialog-title {
  position: relative;
  background-color: skyblue;
}

.key-dialog-close {
  width: 2em;
  margin-left: 88%;
}

.key-dialog-close button {
  color: gray;
  background-color: #ccf;
} */

.key-input {
  text-align: center;
  font-size: 6vmin;
}
