body {
  background-color: #444;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main {
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
  font-size: 5vmin;
  color: lightblue;
  width: 100vmin;
  height: 100vh;
  max-width: 900px;
  margin: auto;
  background-color: #444;
  background-image: url('./enigma.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.input {
  position: absolute;
  width: 66%;
  height: 28%;
  top: 4%;
  left: 16%;
  padding: 1vmin;
  border: solid 2px #444;
  border-radius: 3vmin;
  background-color: #ffe;
  font-size: 5vmin;
  text-align: left;
  letter-spacing: 0.6vmin;
  color: #222;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: all 1s;
  transform: rotateY(0deg);
  z-index: 2000;
}

.input.flipped {
  transform: rotateY(180deg);
  z-index: 1000;
}

.encKey {
  top: 4%;
  background-color: #cff;
  text-align: center;
}

.letter {
  float: left;
  width: 3.1vmin;
  height: 5vmin;
  white-space: pre;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.counter {
  position: relative;
  width: 90%;
  top: 38%;
  margin: auto;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3vmin;
}
.counter .number {
  font-size: 120%;
  font-weight: bold;
  color: red;
}
.counter button {
  margin: 2vmin 2vmin;
  background-color: #eee;
}

.keyboard {
  position: relative;
  width: 100%;
  top: 46%;
  margin: auto auto;
  text-align: center;
}

button {
  text-align: center;
  font-size: 5vmin;
  color: #fff;
  background-color: #666;
  border: solid 1px #fff;
}

button.key {
  margin: 1px;
  width: 9.2%;
  height: 9vmin;
  text-align: center;
  font-size: 4.4vmin;
  border-radius: 48%;
}

button.space {
  width: 40%;
  height: 9vmin;
}

button.reset {
  color: red;
}

button.backspace {
  color: blue;
}

button.encrypt {
  color: blue;
}

.key-input {
  text-align: center;
  font-size: 6vmin;
}
